
<!--<style>
    .expense-fatal {
        color: rgb(217, 83, 79) !important;
    }

    .expense-warning {
        color: rgb(240, 173, 78) !important;
    }

    .pull-right-lg-md {
        left: -104px !important;
        top: -2px !important;
    }
      .neg-progress {
        float: right;
    }

    .page-toolbar {
        margin-left: 100px !important;
        float: left !important;
    }
</style>
<refresh callback-fn="refreshCharts()"></refresh>
<div class="row" id="metergauges">
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3" ng-if="ShowcasesSoldCanvas">
        <canvasgauge ng-model="BlstatiticsData.casesSold.Change"
                     current="BlstatiticsData.casesSold.CurrentYear"
                     showdollar="false"
                     prior="BlstatiticsData.casesSold.PreviousMonth"
                     name="BlstatiticsData.casesSold.name"
                     priortext="'Last year:'"
                     navigate="'casessold'"
                     icon="'fa fa-shopping-cart'">
        </canvasgauge>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3" ng-if="ShowSalesCanvas">
        <canvasgauge ng-model="BlstatiticsData.revenue.Change"
                     current="BlstatiticsData.revenue.CurrentYear"
                     showdollar="true"
                     prior="BlstatiticsData.revenue.PreviousMonth"
                     name="BlstatiticsData.revenue.name"
                     priortext="'Last year:'"
                     navigate="'sales'"
                     icon="'fa fa-dollar'">
        </canvasgauge>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3" ng-if="ShowExpenseCanvas">
        <canvasgauge ng-model="OpexTopBox.Change"
                     current="OpexTopBox.Current"
                     prior="OpexTopBox.Prior"
                     showdollar="true"
                     name="OpexTopBox.Name"
                     revert="true"
                     priortext="'Last year:'"
                     navigate="'expenses'"
                     icon="'icon-wallet'">
        </canvasgauge>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3" ng-if="ShowProfitCanvas">

        <canvasgauge ng-model="GrossProfitTopBox.Change"
                     current="GrossProfitTopBox.Current"
                     showdollar="true"
                     prior="GrossProfitTopBox.Prior"
                     name="GrossProfitTopBox.Name"
                     priortext="'Last year:'"
                     navigate="'Profitablity'"
                     icon="'fa fa-money'">
        </canvasgauge>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3" ng-if="ShowSalesCanvas">
        <canvasgauge ng-model="NonCommoditySalesTopBox.Change"
                     current="NonCommoditySalesTopBox.Current"
                     showdollar="true" prior="NonCommoditySalesTopBox.Prior"
                     name="NonCommoditySalesTopBox.Name"
                     priortext="'Last year:'"
                     navigate="''"
                     icon="'fa fa-line-chart'">
        </canvasgauge>
    </div>
</div>-->

