
<script>
    $(function () {
        $("#datepicker").datepicker();
    });</script>

<style>
    .portlet-body .btn {
        padding-right: 13px;
        padding-left: 16px;
    }

    .btnselected {
        background-color: #A9522F !important;
    }

    .btnnonactive {
        background-color: #f36a5a !important;
    }
</style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-search"></i>
            <span class="caption-subject   bold uppercase">Search Criteria</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title="">
            </a>

        </div>
    </div>

    <div class="portlet-body" style="padding-bottom:30px">
        <div class="row">
            <form name="filterForm" novalidate>



                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">Last Sale Date </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="btn-group">
                                <!--<span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" ng-init="CurrentFilter='ThisMonth'" data-ng-click="search ('ThisMonth')" ng-class="{ 'btnselected': CurrentFilter=='ThisMonth', 'btnnonactive': CurrentFilter!='ThisMonth' }" title="This Month">This Month</button></span>-->

                                <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" ng-init="CurrentFilter='LastMonth'" data-ng-click="search('LastMonth')" ng-class="{ 'btnselected': CurrentFilter=='LastMonth', 'btnnonactive': CurrentFilter!='LastMonth' }" title="Last Month">Since Last Month</button></span>

                                <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('twomonthsago')" ng-class="{ 'btnselected': CurrentFilter=='twomonthsago', 'btnnonactive': CurrentFilter!='twomonthsago' }" title="This Quarter">Since 2 Months ago</button></span>

                                <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('sixmonthsago')" ng-class="{ 'btnselected': CurrentFilter=='sixmonthsago', 'btnnonactive': CurrentFilter!='sixmonthsago' }" title="Last Quarter">Since 6 Months ago</button></span>

                                <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('ninemonthsago')" ng-class="{ 'btnselected': CurrentFilter=='ninemonthsago', 'btnnonactive': CurrentFilter!='ninemonthsago' }" title="Last Quarter">Since 9 Months ago</button></span>

                                <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('oneyearago')" ng-class="{ 'btnselected': CurrentFilter=='oneyearago', 'btnnonactive': CurrentFilter!='oneyearago' }" title="Last Quarter">Since 1 Year ago</button></span>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">No Sales After</div></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(beginDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="Start Date" id="scheduledLoadStartDate" name="scheduledLoadStartDate"
                                           data-ng-model="beginDate" ng-blur="beginDate = clearDate(beginDate)" />
                                    <span ng-show="searchClicked && !isDate(beginDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Last&nbspPayment&nbspDate</div></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(endDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="End Date" id="scheduledLoadEndDate" name="scheduledLoadEndDate"
                                           data-ng-model="endDate" ng-blur="endDate = clearDate(endDate)" />
                                    <span ng-show="searchClicked && !isDate(endDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                    <span ng-show="searchClicked && isPreviouseDate(beginDate,endDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">To Date should be greater than From Date</span>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn btn-primary btn-circle btn-sm ingenium-blue mt-ladda-btn ladda-button btn-search"
                                    data-style="zoom-out"
                                    id="search"
                                    style="opacity:1; color: white;"
                                    data-ng-click="search()">
                                <i class="fa fa-search"></i>
                                <span class="">Search</span>
                                <span class="ladda-spinner">Search</span>
                            </button>

                            <button class="btn btn-circle btn-sm orange btn-info"
                                    data-ng-click="resetSearch();CurrentFilter='ThisMonth'">
                                <i class="fa fa-refresh"></i>
                                Reset
                            </button>
                            <button class="btn btn-circle btn-sm btn-danger margin-top-xs" ng-disabled="iscanceldisabled" data-ng-click="abortExecutingApi()">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>


<div class="portlet light">
    <div class="portlet-title report-title">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-tag"></i>
            <span class="caption-subject  bold uppercase">Customer Report </span>
        </div>
        <div class="btn-group" style="margin-left: 20px; margin-top: 6px;">
            <button class="btn btn-sm-new btn-circle btn-search" ng-csv="getCsvData()" csv-header="getCsvHeader()" filename="CUSTOMER-REPORT.csv" data-ng-disabled="customerReport.length==0">
                <i class="fa fa-file-excel-o"></i>
                Excel (csv)
            </button>
        </div>
        <!--<div class="tools">
            <a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
        </div>-->
        <reportfullscreen needexpand="true"></reportfullscreen>
    </div>

    <div class="portlet-body" data-st-table="customerReport" data-st-safe-src="customerReportMaster">
        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control" style="padding: 0px;" data-ng-model="pageSize">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>
                    <div class="col-xs-12" style="float:left; width:auto; margin-bottom:10px;">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">
                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>
        </div>

        <div style="overflow: auto;">
            <table id="tblReport" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr class="reportheader">
                        <th data-st-sort="CustomerNumber" style="text-align: left !important;min-width:115px">Customer #</th>
                        <th data-st-sort="CustomerName" st-sort-default="true" style="text-align: left !important;min-width:200px">Customer Name</th>
                        <th data-st-sort="ContactPerson" style="text-align: left !important;min-width:167px"><div class="th-head">Contact Person</div></th>
                        <th data-st-sort="Address" style="text-align: left !important;min-width:200px"><div class="th-head">Address</div></th>
                        <th data-st-sort="Phone" style="text-align: left !important;min-width:116px"><div class="th-head">Phone</div></th>
                        <th data-st-sort="EnteredDate" style="text-align: left !important;min-width:120px"><div class="th-head">Entered Date</div></th>
                        <th data-st-sort="LastPayedDate" style="text-align: left !important;min-width:155px"><div class="th-head">Last Payment Date</div></th>
                        <th data-st-sort="LastPayedAmount" style="text-align: left !important;min-width:160px"><div class="th-head">Last Payed Amount</div></th>


                        <th data-st-sort="SalesPerson" style="text-align: left !important;min-width:118px"><div class="th-head">Sales Person</div></th>
                        <th data-st-sort="LastSalesAmount" style="text-align: left !important;min-width:151px"><div class="th-head">Last Sales Amount</div></th>
                        <th data-st-sort="LastSaleDate" style="text-align: left !important;min-width:124px"><div class="th-head">Last Sale Date</div></th>
                        <th data-st-sort="LastSaleDate" style="text-align: left !important;min-width:119px"><div class="th-head">Paid Since</div></th>
                    </tr>
                </thead>
                <tbody ng-repeat="(key, value) in (customerReport|groupBy:groupProperty )">
                    <tr ng-repeat="shipment in value" style="text-align:center;" ng-if="value[0].Extended||key === 'undefined'">
                        <td style="text-align:left">{{shipment.CustomerNumber}}</td>
                        <td style="text-align:left">{{shipment.CustomerName}}</td>
                        <td style="text-align:left">{{shipment.ContactPerson}}</td>
                        <td style="text-align:left">{{shipment.Address}}</td>
                        <td style="text-align:left">{{shipment.Phone}}</td>
                        <td style="text-align:right">{{shipment.EnteredDate | date : 'MM-dd-yyyy'}}</td>
                        <td style="text-align:right">{{shipment.LastPayedDate | date : 'MM-dd-yyyy'}}</td>
                        <td style="text-align:right">{{shipment.LastPayedAmount | currency}}</td>


                        <td style="text-align:right">{{shipment.SalesPerson}}</td>
                        <td style="text-align:right">{{shipment.LastSalesAmount |currency}}</td>
                        <td style="text-align:right">{{shipment.LastSaleDate | date : 'MM-dd-yyyy'}}</td>
                        <td style="text-align:right">{{getmomnetdate(shipment.LastSaleDate)}}</td>


                    </tr>

                </tbody>
                <tbody ng-if="itemReport.length == 0">
                    <tr>
                        <td colspan="11" style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                     data-st-items-by-page="pageSize"
                     data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                     style="text-align: right;"></div>
            </div>
        </div>
    </div>
</div>

<toaster-container></toaster-container>
<style>


    .th-head {
        min-width: 80px;
    }

    .th-head-two {
        min-width: 125px;
    }

    .th-head-three {
        min-width: 180px;
    }

    .select2-choices {
        overflow-x: hidden !important;
    }

    .btn-group {
        margin-bottom: 15px;
    }
</style>

