
<style>
    .oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 
}
</style>

<div class="portlet light" style="margin-bottom:0;">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-search"></i>
            <span class="caption-subject   bold uppercase">Search Criteria</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title="">
            </a>
        </div>
    </div>

    <div class="portlet-body" style="padding-bottom:30px">
        <div class="row">
            <form name="filterForm" novalidate>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            <div class="form-group">
                                Route Number
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="filter.routeNumber"
                                       ng-class="{'red':filter.routeNumber && isNotaNumber(filter.routeNumber)}" />
                                <span ng-show="filter.routeNumber && isNotaNumber(filter.routeNumber)" style="color: #e73d4a;"
                                      class="help-block help-block-error">Please enter a valid number.</span>
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><div class="form-group">Buyer Id</div></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="filter.buyerId"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><div class="form-group"> Date </div></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date" type="text" autocomplete="off"
                                           ng-class="{'has-error':searchClicked && !isDate(filter.shipDate)}"
                                           placeholder="Ship Date" id="shipDate" name="shipDate" data-ng-model="filter.shipDate"
                                           ng-blur="filter.shipDate = clearDate(filter.shipDate)" />
                                    <span ng-show="searchClicked && !isDate(filter.shipDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn btn-circle btn-sm ingenium-blue mt-ladda-btn ladda-button btn-search"
                                    data-style="zoom-out"
                                    id="search-so-short-report"
                                    style="opacity:1;  "
                                    data-ng-click="search()">
                                <i class="fa fa-search"></i>
                                <span>Search</span>
                                <span class="ladda-spinner">Search</span>
                            </button>

                            <button class="btn btn-circle btn-sm orange btn-info"
                                    data-ng-click="resetSearch()">
                                <i class="fa fa-refresh"></i>
                                Reset
                            </button>
                            <button class="btn  btn-default btn-circle btn-sm btn-danger margin-top-xs" ng-disabled="iscanceldisabled"
                                    data-ng-click="abortExecutingApi()">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="row" style="height:30px;"></div>
<div class="portlet light">
    <div class="portlet-title report-title">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-tag"></i>
            <span class="caption-subject   bold uppercase">SO Short Report</span>
        </div>
        <div class="btn-group" style="margin-left:20px; margin-top:6px;">
            <!--<button class="btn btn-sm btn-default" data-ng-click="exportCSV()">Excel (csv)</button>-->
            <button class="btn btn-sm-new btn-circle btn-search" ng-csv="getCsvData()" csv-header="getCsvHeader()"
                    filename="SoShortReport.csv" data-ng-disabled="reportData.length == 0 || reportData==null">
                <i class="fa fa-file-excel-o"></i>
                Excel (csv)
            </button>
            <!--<button class="btn btn-sm-new btn-default" ng-csv="getCsvData()" csv-header="['Date of Shipment', 'Physical Address', 'SO Number','Waste Category','Document','Uniform Manifest','Line','ApprovalNumber','CommonName','ContainerQuantity','ContainerType','ContainerSize','Weight','Volume','Tons','Fed Code','State Code','Dot Shipping Description', 'ProcessCode', 'AdditionalInfo','Dst Facility EPA']" filename="TotalWasteReport.csv" data-ng-disabled="shipmentsMaster.length==0">Excel (csv)</button>-->
        </div>
        <div class="btn-group btn-group-devided" style="margin-top:6px;" ng-show="!datatable_showNotified">

            <!--<a style="" href="javascript:;"
               class="btn btn-sm-new btn-default"
               ng-click="openModal('sendNotification'); getMailIds()"
               ng-disabled="(datatable_selected_ids.length<=0)">
                Send notification
            </a>
            <a style="" href="javascript:;"
               class="btn btn-sm-new btn-default"
               ng-click="openModal('ignoredReason')"
               ng-disabled="(datatable_selected_ids.length<=0)">
                Ignored Reason
            </a>-->

            <button class="btn btn-sm-new btn-circle btn-info"
                    ng-click="openModal('sendNotification'); getMailIds()"
                    ng-disabled="(datatable_selected_ids.length<=0)">
                <!--<i class="fa fa fa-pencil"></i>-->
                <i class="fa fa-envelope"></i>
                Send notification
            </button>

            <button class="btn btn-sm-new btn-circle btn-danger margin-top-xs"
                    ng-click="openModal('ignoredReason')"
                    ng-disabled="(datatable_selected_ids.length<=0)">
                <i class="fa fa-file-text-o "></i>
                Ignore
            </button>
        </div>

        <div class="btn-group" style="margin-left:20px; margin-top:6px;">
            <input type="checkbox" ng-model="datatable_showNotified" ng-click="datatable_selected_ids = [];showNotifiedOrUnNotifiedData(fullReportData)">
            <label for="" style="font-size:14px"> Show Notified Records </label>
        </div>
        <reportfullscreen needexpand="true"></reportfullscreen>
        <!--<div class="tools">
            <a href="javascript:;"
               class="fullscreen" data-original-title="" title=""></a>
        </div>-->

    </div>

    <div class="portlet-body" data-st-table="reportData" data-st-safe-src="reportDataSafe">
        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control" style="padding: 0px;" data-ng-model="pageSize" ng-init="pageSize = '20'">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>

                    <div class="col-xs-12" style="float:left; width:auto; margin-bottom:10px;">
                        <div class="hidden-xs devider">|</div>
                        <div class="group-by"> Group By</div>
                        <div class="select-box">
                            <select class="form-control" style="padding:0px" data-ng-model="groupProperty">
                                <option value="">Select</option>

                                <option value="Type" ng-show="datatable_showNotified">Notified/ Ignored</option>
                                <option value="Route">Route</option>

                                <option value="Customer" st-sort-default="true">Customer</option>
                                <option value="Item">Item</option>
                                <option value="Description">Description</option>
                                <option value="Buyer">Buyer</option>
                                <option value="UOM">UoM</option>

                                <option value="QuantityOrd">Qty Ordered</option>
                                <!--<option value="QuantityLeft">Qty Left</option>-->

                                <!--<option value="QuantityNeeded">Qty Needed</option>-->
                                <option value="QtyAvailable">Qty Available</option>
                                <option value="QuantityOnHand">Qty On Hand</option>

                                <option value="TransactionCost">Trans. Cost</option>
                                <option value="MarketPrice">Mkt. Price</option>
                                <option value="SalesOrderNumber">SO Number</option>
                                <option value="BinNo">Bin Number</option>
                                <option value="PickerName">Picker Name</option>
                                <!--<option value="RequestDate">Request Date</option>-->
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">
                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>
        </div>

        <div style="overflow: auto;">
            <table id="tblReport" class="table table-striped table-bordered table-hover table-condensed ">
                <thead>
                    <tr class="reportheader">
                        <!--<th style="text-align: center !important; width: 0.001px !important;  ">

                            <div class="th-head" style="min-width: 35px !important;">
                                <input type="checkbox" ng-model="datatable_select_all" >
                            </div>
                        </th>-->
                        <th style="text-align: center !important; width: 0.001px !important;">
                            <div class="th-head" style="min-width: 35px !important;">
                                <input type="checkbox" ng-model="datatable_select_all"
                                       ng-change="datatable_functions.updateSelectedIds()" id="selectAllCheckBox">
                            </div>
                        </th>
                        <th data-st-sort="Type" style="text-align: left !important;" ng-show="datatable_showNotified"><div class="th-head">Notified/ Ignored</div></th>
                        <th data-st-sort="Route" style="text-align: left !important;min-width:83px;"><div class="th-head">Route</div></th>


                        <th data-st-sort="Customer"  st-sort-default="true"  style="text-align: left !important;min-width:124px;"><div class="th-head">Customer</div></th>
                        <th data-st-sort="Item" style="text-align: left !important;min-width:80px;">Item</th>
                        <th data-st-sort="Description" style="text-align: left !important;min-width:148px;"><div class="th-head">Description</div></th>
                        <th data-st-sort="Buyer" style="text-align: left !important;min-width:84px;"><div class="th-head">Buyer </div></th>
                        <th data-st-sort="UOM" style="text-align: left !important;min-width:86px;"><div class="th-head"> UoM </div></th>

                        <th data-st-sort="QuantityOrd" style="text-align: left !important;min-width:109px;">Qty Ordered</th>
                     
                        <th data-st-sort="QtyAvailable" style="text-align: left !important;min-width:115px;">Qty Available</th>
                        <th data-st-sort="QuantityOnHand" style="text-align: left !important;min-width:115px;">Qty On Hand</th>

                        <th data-st-sort="TransactionCost" style="text-align: left !important;min-width:104px;"><div class="th-head">Trans. Cost</div></th>
                        <th data-st-sort="MarketPrice" style="text-align: left !important;min-width:97px;"><div class="th-head">Mkt. Price</div></th>
                        <th data-st-sort="SalesOrderNumber" style="text-align: left !important;min-width:107px;">SO Number</th>
                        <th data-st-sort="BinNo" style="text-align: left !important;min-width:106px;">Bin Number</th>
                        <th data-st-sort="PickerName" style="text-align: left !important;min-width:128px;">Picker Name</th>
                        <!--<th data-st-sort="RequestDate" style="text-align: left !important;">Request Date </th>-->
                        <th data-st-sort="Notes" style="text-align: left !important;" ng-show="datatable_showNotified">Notified Person/ Ignored Reason</th>
                    </tr>
                </thead>
                <tbody ng-repeat="(key, value) in (reportData  | groupBy:groupProperty ) track by $index">
                    <tr ng-if="key !== 'undefined'" style="cursor: pointer; background-color:#eee;">
                        <!--ng-if="key !== 'undefined'"-->

                        <td colspan="{{(datatable_showNotified)?17:15}}" class="text-left text-uppercase" ng-click="value[0].Extended = !value[0].Extended">
                            <span class="glyphicon" data-ng-class="value[0].extended?'glyphicon-minus-sign':'glyphicon-plus-sign'"></span>
                            <!--data-ng-class="value[0].Extended?'glyphicon-minus-sign':'glyphicon-plus-sign'"-->
                            <strong>
                                &nbsp;&nbsp;
                                <span ng-if="key == 'null'">  </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') >= 0"> {{key| date : 'yyyy-MM-dd'}} </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') < 0"> {{key}} </span>
                            </strong>
                        </td>
                    </tr>
                    <tr ng-repeat="item in value track by $index" style="text-align:center;" ng-if="value[0].Extended||key === 'undefined'">
                        <!--<td style="text-align: center !important; width: 0.001px !important">
                        <input type="checkbox" ng-model="datatable_selected_checkboxes[$index]"
                                ng-checked="datatable_select_all"
                        </td>-->
                        <td style="text-align: center !important; width: 0.001px">
                            <input type="checkbox" ng-model="datatable_selected_checkboxes[$index]"
                                   ng-checked="datatable_selected_ids.indexOf(item.Id) != -1"
                                   ng-click="datatable_functions.changeSelectedIds(item.Id, item.Item)" /> </td>

                        <td style="text-align:left" ng-show="datatable_showNotified">
                            <span ng-class="(item.Type == 'Notified' ||item.Type == 'Notify' )? 'label label-md label-success': (item.Type == 'Ignored')? 'label label-md label-warning' : ''">
                                {{item.Type}}
                            </span>
                        </td>
                        <td style="text-align:left">{{item.Route}}</td>




                        <td style="text-align:left">{{item.Customer}}</td>
                        <td style="text-align:left">{{item.Item}}</td>
                        <td style="text-align:left">{{item.Description}}</td>
                        <td style="text-align:left">{{item.Buyer}}</td>
                        <td style="text-align:left">{{item.UOM}}</td>

                        <td style="text-align: right">{{item.QuantityOrd}}</td>
                        <!--<td style="text-align: right">{{item.QuantityLeft}}</td>-->

                        <!--<td style="text-align: right">{{item.QuantityNeeded}}</td>-->
                        <td style="text-align: right">{{item.QtyAvailable}}</td>

                        <td style="text-align: right">{{item.QuantityOnHand}}</td>

                        <td style="text-align: right">{{item.TransactionCost | currency:'$'}}</td>
                        <td style="text-align: right">{{item.MarketPrice | currency:'$'}}</td>
                        <td style="text-align: left">{{item.SalesOrderNumber}}</td>
                        <td style="text-align: left">{{item.BinNo}}</td>
                        <td style="text-align: left">{{item.PickerName}}</td>
                        <!--<td style="text-align:left">{{item.RequestDate}}</td>-->
                        <td style="text-align:left" ng-show="datatable_showNotified">{{item.Notes}}</td>
                    </tr>
                </tbody>
                <tbody ng-if="reportData.length == 0 || reportData==null">
                    <tr>
                        <td colspan="{{(datatable_showNotified)?17:15}}" style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                     data-st-items-by-page="pageSize"
                     data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                     style="text-align: right;" ng-init="pageSize = '20'"></div>
            </div>
        </div>
    </div>
</div>


<div id="sendNotification" class="modal fade" tabindex="-1" data-width="1017">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Send Notification</h4>     
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="myForm">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding: 14px;">
                    <!--<input type="submit" name="search" value="Add" style="float: right" ng-disabled="!myForm.myInput.$valid || !myInput" ng-click="Addemails(myInput)" class="btn blue" />-->

                    <button  style="float: right" ng-disabled="!myForm.myInput.$valid || !myInput" ng-click="Addemails(myInput)" class="btn blue">
                        <i class="fa fa-plus"></i>
                        Add 

                    </button>

                
                    <div style="overflow: hidden; padding-right: .5em;">
                 
                        <input type="email" name="myInput" class="form-control" ng-model="myInput" ng-focus="focus=true" ng-blur="focus=false"
                               ng-class="{'red':!myForm.myInput.$valid && !focus && !myInput }" />
                       

                        <span ng-show="!myForm.myInput.$valid && !focus && !myInput" style="color: #e73d4a;"
                              class="help-block help-block-error">Please enter a valid Email.</span>
                       
                        <!--<input name="email"  ng-focus="focus=true" ng-blur="focus=false" type="email" ng-class="{'red':!myForm.email.$valid && !focus }" />
                        <span ng-show="!myForm.email.$valid && !focus">Please enter a valid Email.</span>-->
                    </div>
                </div>
                </form>
</div>
  
    <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="icheck-list">
            <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="email in mailIds track by $index">
                <label class="oneline" ng-attr-title="{{email}}">
                    <input type="checkbox" checked class="icheck mcheck" data-checkbox="icheckbox_square-blue" value="{{email}}"> {{email}}
                </label>
            </div>
        </div>
    </div>

    <script>
        //$(document).ready(function () {
        //    setTimeout(function () {
        //        $('.mcheck').iCheck({
        //            checkboxClass: 'icheckbox_square-blue',

        //        });
        //        $('input').on('ifChecked', function (event) {
        //            alert($(this).val());
        //            // alert(event.type + ' callback');
        //        });
        //    })

        //});

    </script>


</div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        <button type="button" class="btn blue" ng-click="sendNotification()">Send notification</button>
    </div>
</div>


<div id="ignoredReason" class="modal fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Ignore Reason</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><div class="form-group">Reason</div></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

                    <!--<input type="text" data-role=" tagsinput" id="mailIds" />-->
                    <textarea class="form-control" rows="6" ng-model="ignoredReason"></textarea>

                </div>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label col-md-3">To</label>
            <div class="col-md-9">
                <input type="text" data-role="tagsinput">
            </div>
        </div>-->
    </div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        <button type="button" class="btn blue" ng-click="sendIgnoredreason()">Submit</button>
    </div>
</div>


<style>
    .bootstrap-tagsinput {
        width: 100% !important;
    }
    .bootstrap-tagsinput .label{
        line-height:2 ;
    }
</style>
<script src="../../../assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

