<style>
    @media(max-width:760px) {
        .login-logo {
            display: none;
        }
    }

    body {
        background-color: white !important;
        overflow-x:hidden;
    }
    @media (min-width: 1024px) {
        .page-content-wrapper .page-content {
            min-height: auto;        
        }
    }

    .user-login-5 .login-container>.login-content>.login-form .row .col-xs-12.col-sm-6
    {
        padding-bottom: 30px;   
    }

    .user-login-5 .login-container>.login-content>.login-form .row .col-xs-12.col-sm-6 input
    {
        margin-bottom: 0px !important;
        padding: 5px 2px !important;
    }

    .user-login-5 .login-container>.login-content>.login-form span.add-on.input-group-addon
    {
        outline: none;
        border: none;
        /*border-bottom: 1px solid;*/
        background: white;
        color: #868e97;
    }
</style>


<!--modelpopup begin-->
<div id="resetUserPasswordModal" class="modal fade" tabindex="-1" data-width="560" style="background:rgba(0,0,0,0.65);">
    <div class="modal-header" style="color:white">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>-->
        <h3 class="modal-title">Change Password</h3>
    </div>
    <div class="modal-body" style="color:white">
        <form name="resetPasswordForm">
            <div class="row">
                <div class="col-md-12 col-sm-12 pull-left">
                    <!-- TO DO: Correct the below text-->
                    <!--<h5 style="color: red;font-weight: 600"> All targets are set to a day </h5>-->
                    <h4>
                        Please enter your registered email address. When you will click 'Change Password',
                        a reset link will be sent to that email address
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input class="form-control placeholder-no-fix ng-pristine ng-valid ng-touched"
                               type="email" placeholder="Email" name="resetEmail" data-ng-model="resetEmail" required>
                        <span ng-if="resetPasswordForm.resetEmail.$error.required && resetPasswordForm.resetEmail.$dirty" maxlength="250" class="help-block help-block-error"> Email is required </span>
                        <span ng-if="resetPasswordForm.resetEmail.$error.email && resetPasswordForm.resetEmail.$dirty" class="help-block help-block-error">Enter a valid email </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" ng-click="" class="btn btn-default">Cancel</button>
        <!--<button type="button" class="btn blue " ng-click="forgotPassword()"
                ng-disabled="!resetPasswordForm.resetEmail.$valid">Change Password</button>-->
        <button type="submit" class="btn blue  mt-ladda-btn ladda-button"
                data-style="zoom-out"
                id="forgotPassword"
                ng-click="forgotPassword()"
                ng-disabled="!resetPasswordForm.resetEmail.$valid">
            <span class="ladda-label">  Change Password</span>
        </button>
    </div>
</div>

<!--modal popup End-->





<div class="login-body">
    <div class="login">
        <div class="user-login-5">
            <div class="row bs-reset" style="margin-left: 0; margin-right: 0;">
                <div class="col-md-6 bs-reset mt-login-5-bsfix">
                    <div class="login-bg" style="background-image: url('../../../assets/global/img/login/1.jpg'); ">
                       <!--<img style="width:100px" class="login-logo" src="/assets/logo/Nagales.png" />-->
                    </div>
                </div>
                <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                    <div class="login-content">
                        <img style="margin-left:44px" class="login-logo" src="/assets/logo/Nagales.png" />
                        <h1>Nogales Produce Inc.</h1>
                        <p>Dashboard Login</p>
                        <form action="javascript:;" class="login-form" name="loginForm" novalidate="novalidate">
                            <!--<div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span>Enter any username and password. </span>
                            </div>-->
                            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                            <input style="display:none" type="text" name="fakeUsername" />
                            <input style="display:none" type="password" name="fakePassword" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Username" name="userName" required="" autofocus data-ng-model="loginData.userName" data-ng-keyup="$event.keyCode == 13&&focus()">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" id="password" required="" data-ng-model="loginData.password" data-ng-keyup="$event.keyCode == 13&&loginData.userName.length&&loginData.password.length &&login()">
                                </div>
                            </div>
                            <div class="alert" ng-class="{'alert-danger' : isErrorMessage, 'alert-info' : !isErrorMessage}" data-ng-hide="message == ''">
                                <button class="close" data-close="alert"></button>
                                <span> {{message}} </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-8 text-right">
                                    <div class="forgot-password">
                                        <a href="javascript:;" id="forget-password" class="forget-password" ng-click="openModal('resetUserPasswordModal');">Forgot Password?</a>
                                    </div>
                                    <button id="login" data-style="zoom-out" class="btn green mt-ladda-btn ladda-button" type="submit" data-ng-click="login()">Sign In</button>
                                </div>
                            </div>
                        </form>
                        <!-- BEGIN FORGOT PASSWORD FORM -->
                        <form class="forget-form" action="javascript:;" method="post" style="display: none;">
                            <h3 class="font-green">Forgot Password ?</h3>
                            <p> Enter your e-mail address below to reset your password. </p>
                            <div class="form-group">
                                <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Email" name="email">
                            </div>
                            <div class="form-actions">
                                <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                            </div>
                        </form>
                        <!-- END FORGOT PASSWORD FORM -->
                    </div>
                    <div class="login-footer">
                        <div class="row bs-reset">

                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 bs-reset">
                                <div class="login-copyright text-right" style="padding-right: 24px !important;">
                                    <p>
                                       <!--Copyright &copy; Nogales by Digiclarity 2018-->
                                        Produce analytics powered by Digiclarity
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script language="javascript">
                    $("#password").password();
                </script>

            </div>
        </div>
    </div>
</div>