<div class="portlet light">
    <div class="portlet-title report-title">

        <!--<div class="caption caption-md" style="padding-left: 12px;">
            <i class="glyphicon glyphicon-tag"></i>
            <span class="caption-subject  bold uppercase">Expenses Report - {{accountName}}</span>
        </div>-->

        <div class="tools">
            <a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
        </div>
    </div>


    <div class="portlet-body" data-st-table="customersData" data-st-safe-src="customersDataSafe" id="caseSoldDrilldownSalesreport">

        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control" style="padding: 0px;" data-ng-model="pageSize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>

                    <div class="col-xs-12" style="float:left; width:auto; margin-bottom:10px;">

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">
                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>

        </div>

        <div style="overflow: auto;">
            <table id="tblReport" class="table table-striped table-bordered table-hover table-condensed ">
                <thead>
                    <tr class="reportheader">
                        <th data-st-sort="InvoiceNumber" style="text-align: left !important;min-width:135px"><div class="th-head">Invoice Number</div></th>
                        <th data-st-sort="Date" style="text-align: left !important;min-width:100px"><div class="th-head">Date</div></th>
                        <th data-st-sort="Amount"  st-sort-default="reverse" style="text-align: left !important;min-width:100px"><div class="th-head">Amount</div></th>

                    </tr>
                </thead>
                <tbody>
                    <!--<tr ng-if="key !== 'undefined'" style="cursor: pointer; background-color:#eee;">

                        <td colspan="5" class="text-left text-uppercase" ng-click="value[0].Extended = !value[0].Extended">
                            <span class="glyphicon" data-ng-class="value[0].extended?'glyphicon-minus-sign':'glyphicon-plus-sign'"></span>
                            <strong>
                                &nbsp;&nbsp;
                                <span ng-if="key == 'null'">  </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') >= 0"> {{key| date : 'yyyy-MM-dd'}} </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') < 0"> {{key}} </span>
                            </strong>
                        </td>
                    </tr>-->
                    <tr ng-repeat="item in (customersData|groupBy:groupProperty )" style="text-align:center;" >
                        <td style="text-align:left">{{item.InvoiceNumber}}</td>
                        <td style="text-align:right">{{item.Date}}</td>
                        <!--<td style="text-align:right">{{item.Amount}}</td>-->
                        <!--<td style="text-align:right">{{item.AmountCurrent- item.AmountPrior | currency}}</td>-->
                        <td style="text-align:right">
                            <!--<span class="fa fa-sort-up" style="color:forestgreen" ng-hide="item.Amount<=0"></span>
                            <span class="fa fa-sort-down" style="color:red;" ng-show="item.Amount<=0"></span>-->
                            <span>{{item.Amount | currency }}</span>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="customersData.length == 0">
                    <tr>
                        <td colspan="5" style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                     data-st-items-by-page="pageSize"
                     data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                     style="text-align: right;" ng-init="pageSize = '10'"></div>
            </div>
        </div>
    </div>
</div>