<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="caption_subject" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <nl-total-chart filter-type="filter.type"
                                                         ng-model="ProfitablityDashboardBarChartData"
                                                         nl-dashboard="profitability"
                                                         callback-fn="caption_subjectfn(title)">
                        </nl-total-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="profitmargincaption" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body">
                <nl-clustered-bar-toggle-chart-margin ng-model="marginData"
                                                      value-axes-title="'Profit Margin'"
                                                      use-graph-category-axis-title="true"
                                                      hide-chart-title="true"
                                                      nl-chart="'expenses'"
                                                      top-bottom-toggle-cluster-count-label="10"
                                                      callback-fn="profitmargincaptionfn(title)">
                </nl-clustered-bar-toggle-chart-margin>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="ProfitabilityByCustomer_subject" needexpand="true" filter="currentfilter"></filter-date>
            <div class="portlet-body" id="">
                <nl-horizontal-bar-chart-top-bottom ng-model="ProfitabilityByCustomer"
                                                    nl-dashboard="sales"
                                                    chart-title="'Customer'"
                                                    hide-line="true"
                                                    value-axis-tile="'Profit $'"
                                                    column-value-title="'Actual Sales'"
                                                    column-value-target-title="'Previous Year Sales'"
                                                    column-point-target-title="'Sales Target'"
                                                    chart-type="salesCustomer"
                                                    currentfilter="currentfilter"
                                                    is-growth="false"
                                                    xtitle="'Profitablilty By Customer'"
                                                    callback-fn="ProfitabilityByCustomer_subjectfn(title)">
                </nl-horizontal-bar-chart-top-bottom>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="ProfitabilityByItem_subject" needexpand="true" filter="currentfilter"></filter-date>
            <div class="portlet-body" id="">
                <nl-horizontal-bar-chart-top-bottom ng-model="ProfitabilityByItem"
                                                    nl-dashboard="sales"
                                                    chart-title="'Sales Person'"
                                                    hide-line="true" value-axis-tile="'Profit $'"
                                                    column-value-title="'Actual Sales'"
                                                    column-value-target-title="'Previous Year Sales'"
                                                    column-point-target-title="'Sales Target'"
                                                    chart-type="revenue"
                                                    currentfilter="currentfilter"
                                                    is-growth="false"
                                                    xtitle="'Profitability By Item'"
                                                    callback-fn="ProfitabilityByItem_subjectfn(title)">
                </nl-horizontal-bar-chart-top-bottom>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-body" id="CustomerChart">
                <div class="portlet-title">
                    <div class="btn-group pull-right-lg-md">
                        <div class="btn-group animated-dropdown ">
                            <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-chevron-circle-left"></i>
                                Revenue greater than {{currentfilterlabel}}
                            </button>
                            <ul class="dropdown-menu no-arrow" role="menu" id="ul">
                                <li ng-repeat="data in CurrentRevenuePointList">
                                    <a ng-click="GetMarginByDifference(true,data.value);checkClickIndex(data.clickedinput,$event,data.value,'Customer')"> {{data.Key}}</a>
                                </li>
                                <li>
                                    <div class="input-group">

                                        <input type="text" ng-click="checkClickIndex(true,$event)" restictletter="true" restictpoint="true" restrictcutcopypaste maxlength="23" ng-model="CustomReveue" class="form-control">
                                        <span class="input-group-btn" ng-click="checkClickIndex(true,$event);">
                                            <button class="btn btn-danger" ng-disabled="!CustomReveue" ng-click="addrevenue(CustomReveue,'Customer');" type="button">Add</button>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nl-clustered-profitablity-top-bottom ng-model="CustomerChart"
                                                          category="profitability"
                                                          filter="filter1.label"
                                                          types="Customer"
                                                          isrevenue="true"
                                                          use-graph-category-axis-title="true"
                                                          hide-chart-title="true"
                                                          top-bottom-toggle-cluster-count-label="10">
                    </nl-clustered-profitablity-top-bottom>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-body" id="CustomerChart">
                <div class="portlet-title">
                    <div class="btn-group pull-right-lg-md">
                        <div class="btn-group animated-dropdown ">
                            <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-chevron-circle-left"></i>
                                Cases sold greater than {{currentfilterlabelItem}}
                            </button>
                            <ul class="dropdown-menu no-arrow" role="menu" id="ul">
                                <li ng-repeat="data in CurrentRevenuePointItemList">
                                    <a ng-click="GetMarginByDifference(false,data.value);checkClickIndex(data.clickedinput,$event,data.value,'Item')"> {{data.Key}}</a>
                                </li>
                                <li>
                                    <div class="input-group">

                                        <input type="text" ng-click="checkClickIndex(true,$event)" restictletter="true" restictpoint="true" restrictcutcopypaste maxlength="23" ng-model="CustomReveue" class="form-control">
                                        <span class="input-group-btn" ng-click="checkClickIndex(true,$event);">
                                            <button class="btn btn-danger" ng-disabled="!CustomReveue" ng-click="addrevenue(CustomReveue,'Item');" type="button">Add</button>
                                        </span>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nl-clustered-profitablity-top-bottom ng-model="ItemChart"
                                                          category="profitability"
                                                          filter="filter2.label"
                                                          types="Item"
                                                          use-graph-category-axis-title="true"
                                                          hide-chart-title="true"
                                                          top-bottom-toggle-cluster-count-label="10">
                    </nl-clustered-profitablity-top-bottom>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart   hide"></i>
                    <span class="caption-subject font-light-orange-haze bold uppercase text-mobile text-mobile"> Item Profitability Per Day</span>
                    <span class="caption-helper hide">weekly stats</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <nl-line-chart ng-model="totalChartData" nl-dashboard="profitability"></nl-line-chart>
            </div>
        </div>
    </div>
</div>
