<refresh callback-fn="refreshCharts()"></refresh>
<style>
    @media (min-width: 1192px) and (max-width: 1551px) {
        #topbox .col-lg-6 {
            width: 100% !important;
        }
    }
</style>
<div class="row" id="" ng-cloak>
    <div id="metergauges">
        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <canvasgauge ng-if="meterparams.Label5"
                         ng-model="TotalMonthlyDifference"
                         current="firstrange"
                         showdollar="true"
                         prior="secondrangeMonth"
                         name="PriorRangeText">
                <!--currenttext="meterparams.Label1+' :'"
                priortext="meterparams.Label5+' :'">-->
            </canvasgauge>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <canvasgauge ng-if="TotalYearlyDifference"
                         ng-model="BlstatiticsData.revenue.Change"
                         current="firstrange"
                         showdollar="true"
                         prior="secondrangeYear"
                         name="'Prior Year'">
                <!--currenttext="meterparams.Label1+' :'"
                priortext="meterparams.Label4+' :'"-->
            </canvasgauge>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="caption_subject" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <nl-total-chart filter-type="filter.type"
                                                         ng-model="chartData.TotalRevenue.All"
                                                         nl-dashboard="sales"
                                                         callback-fn="caption_subjectfn(title)"
                                                         percentagecallback-fn="PercentageCallbackfn(PriorYear,PriorMonth,meterparams)">
                        </nl-total-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="'SALES (BY CATEGORY)'" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body" id="">
                <pie-Chart ng-model="PiechartSales" 
                           filter-type="filter.type" 
                           currentfilter="currentfilter" 
                           charttype="Revenue">
                </pie-Chart>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12" ng-if="HeatMapData.Sales">
        <div class="portlet light bordered">
            <filter-date compiletitle="'SALES (BY STATE)'" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body" id="">
                <nl-usa-heat-map ng-model="HeatMapData.Sales" 
                                 titlechart="Sales">
                </nl-usa-heat-map>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="saleschartcaption_subject" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body" id="">
                    <nl-horizontal-bar-chart-top-bottom ng-model="TotalSalesAndGrowth.SalesPerson" nl-dashboard="sales" chart-title="'Sales Person'"
                                                        hide-line="true" value-axis-tile="'Sales $'"
                                                        column-value-title="'Actual Sales'"
                                                        column-value-target-title="'Previous Year Sales'"
                                                        column-point-target-title="'Sales Target'"
                                                        chart-type="sales"
                                                        currentfilter="currentfilter"
                                                        is-growth="false"
                                                        xtitle="'SALES (BY SALES PERSON) '"
                                                        callback-fn="saleschartcaption_subjectfn(title)">
                    </nl-horizontal-bar-chart-top-bottom>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="salestocustomer_subject" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body" id="">
                <nl-horizontal-bar-chart-top-bottom ng-model="customerGraph.SalesPerson" nl-dashboard="sales" chart-title="'Customer'"
                                                    hide-line="true" value-axis-tile="'Sales $'"
                                                    column-value-title="'Actual Sales'"
                                                    column-value-target-title="'Previous Year Sales'"
                                                    column-point-target-title="'Sales Target'"
                                                    chart-type="salesCustomer"
                                                    currentfilter="currentfilter"
                                                    is-growth="false"
                                                    xtitle="'SALES (BY CUSTOMER)'"
                                                    callback-fn="salestocustomer_subjectfn(title)">
                </nl-horizontal-bar-chart-top-bottom>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="nonrevenuecaption_subject" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body" id="">
                <nl-horizontal-bar-chart-top-bottom ng-model="TotalSalesAndGrowth.Growth" nl-dashboard="sales" chart-title="'Sales Person'"
                                                    hide-line="true" value-axis-tile="'Growth %'"
                                                    column-value-title="'Actual Customer Count'"
                                                    column-value-target-title="'Previous Year Customer Count'"
                                                    column-point-target-title="'Assigned Customer Count'"
                                                    chart-type="sales"
                                                    currentfilter="currentfilter"
                                                    is-growth="true"
                                                    xtitle="'SALES (GROWTH BY SALES PERSON) '"
                                                    callback-fn="nonrevenuecaption_subjectfn(title)">
                </nl-horizontal-bar-chart-top-bottom>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <filter-date compiletitle="salesgrowthtocustomer_subject" filter="currentfilter" needexpand="true"></filter-date>
            <div class="portlet-body" id="">
                <nl-horizontal-bar-chart-top-bottom ng-model="customerGraph.Growth" nl-dashboard="sales" chart-title="'Customer'"
                                                    hide-line="true" value-axis-tile="'Growth %'"
                                                    column-value-title="'Actual Customer Count'"
                                                    column-value-target-title="'Previous Year Customer Count'"
                                                    column-point-target-title="'Assigned Customer Count'"
                                                    chart-type="sales"
                                                    currentfilter="currentfilter"
                                                    is-growth="true"
                                                    xtitle="'SALES (GROWTH BY CUSTOMER)'"
                                                    callback-fn="salesgrowthtocustomer_subjectfn(title)">
                </nl-horizontal-bar-chart-top-bottom>
            </div>
        </div>
    </div>
</div>



