<style>
    #ui-datepicker-div {
        z-index: 10053 !important;
    }

    .portlet light tabbable-line portlet-fullscreen {
        z-index: 0 !important;
    }
</style>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });</script>

<div class="portlet light tabbable-line" style="margin-bottom:0;">
    <ul style="float:right;" class="nav nav-tabs" ng-init="isCurrent=true;">
        <li ng-class="{ 'active': true, 'nav nav-tabs': false }" ng-click="isHistory=false;isCurrent=true;">
            <a href="#" data-toggle="tab"> Current </a>
        </li>
        <li ng-class="{ 'active': false, 'nav nav-tabs':true }" ng-click="isHistory=true;isCurrent=false;">
            <a href="#" data-toggle="tab"> History</a>
        </li>

    </ul>
    <div class="row"></div>
    <div class="portlet-title" ng-show="isHistory">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-search"></i>
            <span class="caption-subject font-light-orange-haze bold uppercase text-mobile">Search Criteria</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title="">
            </a>

        </div>
    </div>

    <div class="portlet-body" style="padding-bottom:30px" ng-show="isHistory">
        <div class="row">
            <form name="filterForm" novalidate>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                            <div class="form-group">
                                Sales Person
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <select select-all="availableSalesPersons" data-ui-select2 data-container="body" data-placement="right"
                                        data-original-title="Tooltip in right" multiple="multiple" class="form-control select-md tooltips"
                                        name="wasteCategory1" data-placeholder="Sales Person "
                                        ng-model="selectedSales">
                                    <option ng-repeat="salesPerson in availableSalesPersons" value="{{salesPerson}}">{{salesPerson.Value}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><div class="form-group view">Start Date</div></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(beginDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="Start Date" id="scheduledLoadStartDate" name="scheduledLoadStartDate"
                                           data-ng-model="beginDate" ng-blur="beginDate = clearDate(beginDate)" />
                                    <span ng-show="searchClicked && !isDate(beginDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><div class="form-group view">End Date</div></div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(endDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="End Date" id="scheduledLoadEndDate" name="scheduledLoadEndDate"
                                           data-ng-model="endDate" ng-blur="endDate = clearDate(endDate)" />
                                    <span ng-show="searchClicked && !isDate(endDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                    <span ng-show="searchClicked && isPreviouseDate(beginDate,endDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">To Date should be greater than From Date</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn btn-primary btn-circle btn-sm ingenium-blue mt-ladda-btn ladda-button btn-search"
                                    data-style="zoom-out"
                                    id="search"
                                    style="opacity:1; color: white;"
                                    data-ng-click="search('',selectedSales)">
                                <i class="fa fa-search"></i>
                                <span class="">Search</span>
                                <span class="ladda-spinner">Search</span>
                            </button>


                            <button class="btn btn-circle btn-sm orange btn-info"
                                    data-ng-click="resetSearch()">
                                <i class="fa fa-refresh"></i>
                                Reset
                            </button>
                            <button class="btn btn-circle btn-sm btn-danger margin-top-xs" ng-disabled="iscanceldisabled" data-ng-click="abortExecutingApi()">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="portlet light tabbable-line">
    <div class="portlet-title report-title">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-tag"></i>
            <span class="caption-subject font-light-orange-haze bold uppercase text-mobile">Sales Person Mapping</span>
        </div>

        <div class="tools">
            <a href="javascript:;" class="fullscreen" data-original-title="" title=""></a>
        </div>
    </div>
    <div ng-if="isHistory" class="portlet-body" data-st-table="ArchievedSalesPersonMapping" data-st-safe-src="ArchievedSalesPersonMappingSafe">
        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control" style="padding: 0px;" data-ng-model="pageSizeHistory">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">
                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>

        </div>
        <div style="overflow: auto;" data-st-table="ArchievedSalesPersonMapping" data-st-safe-src="ArchievedSalesPersonMappingSafe">
            <table id="tblReport" class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr class="reportheader">
                        <th data-st-sort="SalesPersonCode" style="text-align: left !important;"><div class="th-head">Sales Person Code</div></th>
                        <th data-st-sort="SalesPersonDescription" style="text-align: left !important;"><div class="th-head">Sales Person Description</div></th>
                        <th data-st-sort="AssignedPersonCode" style="text-align: left !important;"><div class="th-head">Assigned Person Code</div></th>
                        <th data-st-sort="AssignedDescription" style="text-align: left !important;"><div class="th-head">Sales Person Description</div></th>
                        <th data-st-sort="StartDate" style="text-align: left !important;"><div class="th-head">Start Date</div></th>
                        <th data-st-sort="EndDate" style="text-align: left !important;"><div class="th-head">End Date</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="shipment in ArchievedSalesPersonMapping" style="text-align:center;">

                        <td style="text-align:left">{{shipment.SalesPersonCode}}</td>
                        <td style="text-align:left">{{shipment.SalesPersonDescription}}</td>
                        <td style="text-align:left">{{shipment.AssignedPersonCode}}</td>
                        <td style="text-align:left">{{shipment.AssignedDescription}}</td>
                        <td style="text-align:left">{{shipment.StartDate | date}}</td>
                        <td style="text-align:left">{{shipment.EndDate | date}}</td>
                    </tr>
                </tbody>
                <tbody ng-if="ArchievedSalesPersonMapping.length == 0">
                    <tr>
                        <td colspan="6" style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>

            </table>
            <div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                         data-st-items-by-page="pageSizeHistory"
                         data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                         style="text-align: right;" ng-init="pageSizeHistory = '10'"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="isCurrent" class="portlet-body" data-st-table="AllsalesPersons" data-st-safe-src="AllsalesPersonsSafe">
        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control"  style="padding: 0px;" data-ng-model="pageSize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>
                    <div class="col-xs-12" style="float:right; width:auto; padding-right:0; margin-bottom:10px; ">
                        <button type="button" class="btn green" ng-click="openModal('salesReportOfSalesPerson');">
                            <i class="fa fa-plus"></i> Assign New
                        </button>
                        </div>
                    </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">

                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search="" data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>

        </div>
        <div style="overflow: auto;" >
            <table id="tblReport" class="table table-striped table-bordered table-hover table-condensed ">
                <thead>
                    <tr class="reportheader">
                        <th data-st-sort="AssignedPersonCode" st-sort-default="true" style="text-align: left !important;"><div class="th-head">Standard Sales Id</div></th>
                        <th data-st-sort="AssignedPersonDescription" style="text-align: left !important;" ><div class="th-head">Standard sales Description</div></th>

                        <th data-st-sort="SalesPersonCode" style="text-align: left !important;"><div class="th-head">User Id</div></th>
                        <th data-st-sort="SalesPersonDescription" style="text-align: left !important;"><div class="th-head">User Description</div></th>

                        <th data-st-sort="StartDate" style="text-align: left !important;"><div class="th-head">Date Added</div></th>
                        <th data-st-sort="Category" style="text-align: left !important;"><div class="th-head">Tracking Group</div></th>
                        <th  style="text-align: left !important;"><div class="th-head">Actions</div></th>

                        <!--<th style="text-align: center !important;"><div class="th-head">Assign New</div></th>-->
                        <!--<th style="text-align: center !important;"><div class="th-head">Action</div></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="shipment in AllsalesPersons" style="text-align:center;">
                        <td style="text-align:left">
                            <!--ng-if="shipment.AssignedPersonList.length==1"-->
                            <span >{{shipment.AssignedPersonCode}}</span>
                            <!--<a ng-click="shipment.AssignedPersonList.expanded =! shipment.AssignedPersonList.expanded" ng-if="shipment.AssignedPersonList.length>1">

                                {{shipment.AssignedPersonList.length}}
                            </a>-->
                        </td>
                        <td style="text-align:left">
                            <span ng-if="!isEdit || index != $index ">{{shipment.AssignedPersonDescription}}</span>
                            <textarea class="from-control" ng-if="isEdit && $index == index" ng-model="editsDescription.AssignedPersonDescription" ng-init="editsDescription.AssignedPersonDescription = shipment.AssignedPersonDescription" maxlength="100" required></textarea>
                        </td>

                        <td style="text-align:left">{{shipment.SalesPersonCode}}</td>
                        <td style="text-align:left"><span ng-if="!isEdit || index != $index ">{{shipment.SalesPersonDescription}}</span><textarea class="from-control" ng-if="isEdit && $index == index" ng-model="editsDescription.SalesPersonDescription" ng-init="editsDescription.SalesPersonDescription = shipment.SalesPersonDescription" maxlength="100" required></textarea></td>


                        <td style="text-align:left">{{shipment.StartDate}}</td>
                        <td style="text-align:left">{{shipment.Category}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" ng-click="editDis($index);" ng-if="!isEdit || index != $index " ><i class="fa fa-pencil"></i> Edit</button>
                            <button  class="btn btn-primary btn-xs" ng-disabled="!editsDescription.SalesPersonDescription || !editsDescription.AssignedPersonDescription" ng-click="UpdateSalesPersonDescription(editsDescription,shipment.Id,$index,isEdit);" ng-if="isEdit && $index == index"><i class="fa fa-floppy-o"></i> Update </button>
                            <button class="btn btn-primary btn-xs" ng-click="editCancel($index,isEdit)" ng-if="isEdit && $index == index"><i class="fa fa-close"></i> Cancel</button>
                        </td>

                        <!--<td style="text-align:left">

                            <button type="button" class="btn green" ng-click="openModal('salesReportOfSalesPerson',shipment);">
                                <i class="fa fa-plus"></i> Assign New
                            </button>
                        </td>-->
                        <!--<td style="text-align:left">
                            <button ng-if="shipment.AssignedPersonList.length<=1" type="button" ng-class="{ 'btn green': !shipment.AssignedPersonList[0].AssignedPersonCode==null, 'btn green disabled': shipment.AssignedPersonList[0].AssignedPersonCode==null }" class="btn green" ng-click="shipment.AssignedPersonList.expanded =! shipment.AssignedPersonList.expanded;unassignconfirm(shipment.AssignedPersonList[0],shipment)">
                                <i class="fa fa-minus"></i> Remove
                            </button>
                            <button ng-if="shipment.AssignedPersonList.length>1" type="button" class="btn green"
                                    ng-click="shipment.AssignedPersonList.expanded =! shipment.AssignedPersonList.expanded">
                                <i class="fa fa-minus"></i> Remove
                            </button>
                        </td>-->
                    </tr>
                    <tr ng-if="shipment.AssignedPersonList.length>1 && shipment.AssignedPersonList.expanded" ng-repeat-end="">
                        <td colspan="5">
                            <table class="table table-striped table-bordered table-hover table-condensed ">
                                <thead>
                                    <tr class="reportheader">
                                        <th class="col-md-5" data-st-sort="row.AssignedPersonCode" style="text-align: left !important;"><div class="th-head">Sales Persons Name</div></th>
                                        <th class="col-md-4" data-st-sort="row.StartDate" style="text-align: left !important;"><div class="th-head">Date</div></th>
                                        <th class="col-md-4" data-st-sort="row.AssignedDescription" style="text-align: left !important;"><div class="th-head">Description</div></th>
                                        <th style="text-align: left !important;"><div class="th-head">Actions</div></th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="row in shipment.AssignedPersonList" style="text-align:center;">
                                    <td style="text-align:left">{{row.AssignedPersonCode}}</td>
                                    <td style="text-align:left">{{row.StartDate}}</td>
                                    <td style="text-align:left">{{row.AssignedDescription}}</td>

                                    <!--<td style="text-align:left">
                                        <button type="button" class="btn green" ng-click="unassignconfirm(row,shipment)">

                                            <i class="fa fa-minus"></i> Remove
                                        </button>
                                    </td>-->
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
               
                <tbody ng-if="AssignedPersonList.length == 0">
                    <tr>
                        <td colspan="6" style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                         data-st-items-by-page="pageSize"
                         data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                         style="text-align: right;" ng-init="pageSize = '10'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin: customer sales Modal-->
<style>
.hai{
    margin-top: -250.5px !important;
}
</style>
<div id="salesReportOfSalesPerson" class="modal fade hai" tabindex="-1" data-width="700px" >
    <div class="modal-header">

        <h4 class="modal-title">Assign Sales Person(s)</h4>
    </div>
    <div class="modal-body" id="salesPersonReportPortletBody">

        <form name="editTargetForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <!--Master Sales Persons-->
                            Standard Sales Id
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <select class="form-control select-md tooltips" name="wasteCategory" data-placeholder="Master Sales Persons" data-ng-model="selectedMasterSalesPersons" ng-change="Isnew(selectedMasterSalesPersons,'MasterSalesPersons')">
                                <option value="0">New</option>
                                <option ng-repeat="salesPerson in MasterSalesPersons"  value="{{salesPerson.Code}}">{{salesPerson.Code}}</option>
                            </select>

                        </div>

                    </div>
                </div>

                    <div class="col-md-12"  ng-if="isnewMasterSalesPersons">
                        <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12"><div class="form-group"><!--Master Sales Persons Code--> New Standard Sales Id</div></div>
                        <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <input type="text" class="form-control" ng-model="sales.MasterSalesPersonsCodeScope" placeholder="" ng-change="checkExcisting(MasterSalesPersonsCodeScope,'MasterSalesPersons')" />
                                    <!--<span ng-show="filter.startBatch && isNotaNumber(filter.startBatch)" style="color: #e73d4a;"
                              class="help-block help-block-error">Please enter a valid number.</span>-->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12"  ng-if="isnewMasterSalesPersons">
                        <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12"><div class="form-group">New Standard Sales Persons Description{{MasterSalesPersonsDescriptionScope}}</div></div>
                        <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <input type="text" class="form-control" ng-model="sales.MasterSalesPersonsDescriptionScope" placeholder="" />
                                    <!--<span ng-show="filter.startBatch && isNotaNumber(filter.startBatch)" style="color: #e73d4a;"
                              class="help-block help-block-error">Please enter a valid number.</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12" >
                            <hr style="margin:2px 0 !important;margin-bottom:22px !important"/>
                        </div>

                    </div>



                <div class="col-md-12">
                    <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                        <div class="form-group">
                           <!--Sales Persons-->

                            User Id
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <select class="form-control select-md tooltips" name="wasteCategory" data-placeholder="Sales Persons" data-ng-model="selectedSalesPersons" ng-change="Isnew(selectedSalesPersons,'SalesPersons')">
                                <option value="0">New</option>
                                <option ng-repeat="salesPerson in SalesPersons"  value="{{salesPerson.Code}}">{{salesPerson.Code}}</option>
                            </select>

                        </div>

                    </div>
                </div>




                    <div class="col-md-12" ng-if="isnewSalesPersons">
                        <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12"><div class="form-group">New User Id{{SalesPersonsCodeScope}}</div></div>
                        <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="" ng-model="sales.SalesPersonsCodeScope" ng-change="checkExcisting(SalesPersonsCodeScope,'SalesPersons')" />
                                    <!--<span ng-show="filter.startBatch && isNotaNumber(filter.startBatch)" style="color: #e73d4a;"
                              class="help-block help-block-error">Please enter a valid number.</span>-->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" ng-if="isnewSalesPersons">
                        <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12"><div class="form-group">New User  Description{{SalesPersonsDescriptionScope}}</div></div>
                        <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <input type="text" class="form-control" ng-model="sales.SalesPersonsDescriptionScope" placeholder="" />

                                    <!--<span ng-show="filter.startBatch && isNotaNumber(filter.startBatch)" style="color: #e73d4a;"
                              class="help-block help-block-error">Please enter a valid number.</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12" >
                            <hr style="margin:2px 0 !important;margin-bottom:22px !important"/>
                        </div>
                    </div>



                <div class="col-md-12">
                    <div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
                        <div class="form-group">
                            Tracking Groups
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <select class="form-control select-md tooltips" name="wasteCategory" data-placeholder="Tracking Groups" data-ng-model="selectedTrackingGroups">

                                <option ng-repeat="salesPerson in TrackingGroups" value="{{salesPerson}}">{{salesPerson}}</option>
                            </select>

                        </div>

                    </div>
                </div>


            </div>





        </form>

    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn blue"

           data-ng-click="salesPersonAdd(sales)">
            Add Sales Person(s)
        </a>

        <button type="button" data-dismiss="modal" ng-click="changedTargets = [];" class="btn btn-default">Close</button>
    </div>
</div>
<!-- End: customer sales Modal-->
<div id="unassignConfirmation" class="modal fade" tabindex="-1" data-width="">


    <div class="modal-header">

        <h4 class="modal-title">UnAssign</h4>
    </div>


    <div class="modal-body" id="salesPersonReportPortletBody">


        <form class="form-inline ">

            <div class="form-group ">
                <div class="col-sm-4"><label for="email">Date</label></div>
                <div class="col-sm-4">

                    <input class="form-control placeholder-no-fix invoice-date "
                           ng-class="{'has-error':searchClicked && !isDate(beginDate)}"
                           type="text" autocomplete="off"
                           placeholder="UnAssign Date" id="unAssignLoadDate" name="unAssignLoadDate"
                           data-ng-model="unAssignLoadDate" ng-blur="beginDate = clearDate(beginDate)" />
                    <span ng-show="searchClicked && !isDate(beginDate)" style="color: #e73d4a;"
                          class="help-block help-block-error">Please enter a valid Date.</span>

                </div>

            </div>

        </form>

    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn blue" ng-disabled="!unAssignLoadDate"
           data-ng-click="unassign(unAssignLoadDate)">
            Yes
        </a>

        <button type="button" data-dismiss="modal" ng-click="changedTargets = [];" class="btn btn-default">Cancel</button>
    </div>
</div>
<toaster-container></toaster-container>
<style>
    /*.st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }*/

    .th-head {
        min-width: 80px;
    }

    .th-head-two {
        min-width: 125px;
    }

    .th-head-three {
        min-width: 180px;
    }
    /*for solving the issue x-axis scroll in select2*/
    .select2-choices {
        overflow-x: hidden !important;
    }

    .btn-group {
        margin-bottom: 15px;
    }
</style>
<!-- END MAIN CONTENT -->
