
<div class="portlet light">
    <div class="portlet-title report-title">
        <div class="caption caption-md" style="margin-top: 14px;">
            <i class="glyphicon glyphicon-tag"></i>
            <span class="caption-subject  bold uppercase">Cases Sold Report</span>
        </div>
        <div class="btn-group" style="margin-left: 20px; margin-top: 6px;">

            <md-button class="md-primary md-raised">
                <i class="fa fa-file-excel-o"></i>
                Excel (csv)
            </md-button>
            <md-button class="md-primary md-raised" ng-click="showcreate($event)">
                Create
            </md-button>
          
        </div>
            <reportfullscreen needexpand="true"></reportfullscreen>
      
    </div>


    <div class="portlet-body" data-st-table="Data" data-st-safe-src="DataMaster">

        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control" style="padding: 0px;" data-ng-model="pageSize">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>

                    <div class="col-xs-12" style="float:left; width:auto; margin-bottom:10px;">

                    </div>


                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">
                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>

        </div>

        <div style="overflow: auto;">
            <table id="tblReport" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="reportheader">
                        <th data-st-sort="categoryid" style="text-align: left !important;min-width:165px">category</th>
                        <th data-st-sort="category" style="text-align: left !important;min-width:165px"><div class="th-head">Category</div></th>
                        <th data-st-sort="deActive"  st-sort-default="reverse" style="text-align: left !important;min-width:174px"><div class="th-head">IsdeActive</div></th>
                        
                    </tr>
                </thead>
                <tbody ng-repeat="(key, value) in (Data|groupBy:groupProperty )">
                    <tr ng-if="key !== 'undefined'" style="cursor: pointer; background-color:#eee;">

                        <td colspan="6" class="text-left text-uppercase" ng-click="value[0].Extended = !value[0].Extended">
                            <span class="glyphicon" data-ng-class="value[0].extended?'glyphicon-minus-sign':'glyphicon-plus-sign'"></span>
                            <strong>
                                &nbsp;&nbsp;
                                <span ng-if="key == 'null'">  </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') >= 0"> {{key| date : 'yyyy-MM-dd'}} </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') < 0"> {{key}} </span>
                            </strong>
                        </td>
                    </tr>
                    <tr ng-repeat="shipment in value track by $index" style="text-align:center;" ng-if="value[0].Extended||key === 'undefined'">

                        <td style="text-align:left">{{shipment.categoryid}}</td>
                        <td style="text-align:right">{{shipment.category}}</td>
                        <td style="text-align:right">{{shipment.deActive}}</td>
                       
                    </tr>
                  
                </tbody>
                <tbody ng-if="Data.length == 0">
                    <tr>
                        <td nodatafound style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                     data-st-items-by-page="pageSize"
                     data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                     style="text-align: right;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
   

</div>

<toaster-container></toaster-container>
<style>
   
    .th-head {
        min-width: 80px;
    }

    .th-head-two {
        min-width: 125px;
    }

    .th-head-three {
        min-width: 180px;
    }
    /*for solving the issue x-axis scroll in select2*/
    .select2-choices {
        overflow-x: hidden !important;
    }

    .btn-group {
        margin-bottom: 15px;
    }
</style>

