<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="TsqlConnectionString"
           connectionString="data source=192.168.10.106\SQL2016,8016;initial catalog=NPICOMPANY01;User ID=sa;Password=abc123*;"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="PayrollServiceUsername" value="GibranLicona952" />
    <add key="PayrollServicePassword" value="password123" />
    <add key="PayrollServiceUrl" value="https://nogalesproduceinc.attendanceondemand.com:8192/cc1exec.aew/soap/IAeXMLBridge" />
    <add key="DefaultEmailFrom" value="shinju@vofoxsolutions.com"/>
    <add key="ErrorLogEmail" value="arjunprakash@vofoxsolutions.com"/>

  </appSettings>
</configuration>