
<!--<script>
    $(function () {
        $("#datepicker").datepicker();
    });</script>

<style>
    .switch-right{
        width: 72px !important;
    }
    .switch-left{
        width: 72px !important;
    }
    .toggle-switch>div {
    position: relative;
    width: 183% !important;
}
    .portlet-body .btn {
    padding-right: 13px;
    padding-left: 16px;
}
       .btnselected{
       background-color:#A9522F !important;
    }
    .btnnonactive{
        background-color:#f36a5a !important;
    }
</style>-->


<!--<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="glyphicon glyphicon-search"></i>
            <span class="caption-subject font-light-orange-haze bold uppercase text-mobile">Search Criteria</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title="">
            </a>

        </div>
    </div>

    <div class="portlet-body" style="padding-bottom:30px">
        <div class="row">
            <form name="filterForm" novalidate>
                <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Commodity</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">

                                <select class="form-control select-md tooltips" data-placeholder="Select commodity" ng-options="item as item.value for item in Commodity track by item.value" ng-model="Commodityselected"></select>

                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Category</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">

                                <select class="form-control select-md tooltips" data-placeholder="Select Food Service" ng-options="item as item.value for item in FoodService track by item.value" ng-model="FoodServiceselected"></select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  pull-right">
                         
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group view">Invoice Date</div>
                                </div>
                                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                                    <div class="btn-group">
                                        <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('ThisMonth')" ng-class="{ 'btnselected': CurrentFilter=='ThisMonth', 'btnnonactive': CurrentFilter!='ThisMonth' }" title="This Month">This Month</button></span>

                                        <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('LastMonth')" ng-class="{ 'btnselected': CurrentFilter=='LastMonth', 'btnnonactive': CurrentFilter!='LastMonth' }" title="Last Month">Last Month</button></span>

                                        <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('ThisQuarter')" ng-class="{ 'btnselected': CurrentFilter=='ThisQuarter', 'btnnonactive': CurrentFilter!='ThisQuarter' }" title="This Quarter">This QTR</button></span>

                                        <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('LastQuarter')" ng-class="{ 'btnselected': CurrentFilter=='LastQuarter', 'btnnonactive': CurrentFilter!='LastQuarter' }" title="Last Quarter">Last QTR</button></span>
                                        <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('YTD')" ng-class="{ 'btnselected': CurrentFilter=='YTD', 'btnnonactive': CurrentFilter!='YTD' }" title="Year To Date">YTD</button></span>

                                        <span style="padding-right:0;"><button class="btn btn-primary btn-circle btn-sm orange" style="margin-bottom:5px" data-ng-click="search('LastYear')" ng-class="{ 'btnselected': CurrentFilter=='LastYear', 'btnnonactive': CurrentFilter!='LastYear' }" title="Last Year">Last Year</button></span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Current Start</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(beginDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="Start Date" id="scheduledLoadStartDate" name="scheduledLoadStartDate"
                                           data-ng-model="beginDate" ng-blur="beginDate = clearDate(beginDate)" />
                                    <span ng-show="searchClicked && !isDate(beginDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Current End</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(endDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="End Date" id="scheduledLoadEndDate" name="scheduledLoadEndDate"
                                           data-ng-model="endDate" ng-blur="endDate = clearDate(endDate)" />
                                    <span ng-show="searchClicked && !isDate(endDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                    <span ng-show="searchClicked && isPreviouseDate(beginDate,endDate)" style="color: #e73d4a;"
                                          class="help-block help-block-error">To Date should be greater than From Date</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
                            <div class="btn-group" style="margin-top:18px">

                                <span style="padding-right:0;">
                                    <toggle-switch ng-model="toggleyear" style="margin-bottom:5px" ng-init="toggleyear=false" ng-click="search(CurrentFilter)" on-label="Historical" off-label="Prior">

                                    </toggle-switch>

                                </span>

                            </div>

                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Min Cases Sold</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input">

                                    <input class="form-control" type="number"  placeholder="Min Sale Amount" data-ng-model="MinSalesAmt">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Prior Start</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(beginDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="Start Date" id="scheduledLoadStartDate1" name="scheduledLoadStartDate"
                                           data-ng-model="StartPrior" ng-blur="StartPrior = clearDate(StartPrior)" />
                                    <span ng-show="searchClicked && !isDate(StartPrior)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"><div class="form-group view">Prior End</div></div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fa fa-calendar"></i>
                                    <input class="form-control placeholder-no-fix invoice-date"
                                           ng-class="{'has-error':searchClicked && !isDate(endDate)}"
                                           type="text" autocomplete="off"
                                           placeholder="End Date" id="scheduledLoadEndDate1" name="scheduledLoadEndDate"
                                           data-ng-model="EndPrior" ng-blur="EndPrior = clearDate(EndPrior)" />
                                    <span ng-show="searchClicked && !isDate(EndPrior)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Please enter a valid Date.</span>
                                    <span ng-show="searchClicked && isPreviouseDate(StartPrior,EndPrior)" style="color: #e73d4a;"
                                          class="help-block help-block-error">Prior End Date should be greater than Prior Start Date</span>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                            <button class="btn btn-primary btn-circle btn-sm ingenium-blue mt-ladda-btn ladda-button btn-search"
                                    data-style="zoom-out"
                                    id="search"
                                    style="opacity:1; color: white;"
                                    data-ng-click="search()">
                                <i class="fa fa-search"></i>
                                <span class="">Search</span>
                                <span class="ladda-spinner">Search</span>
                            </button>


                            <button class="btn btn-circle btn-sm orange btn-info"
                                    data-ng-click="resetSearch()">
                                <i class="fa fa-refresh"></i>
                                Reset
                            </button>
                            <button class="btn btn-circle btn-sm btn-danger margin-top-xs" ng-disabled="iscanceldisabled" data-ng-click="abortExecutingApi()">
                                <i class="fa fa-times"></i>
                                Cancel
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>-->

<div class="portlet light">
    <div class="portlet-title report-title">
        <div class="caption caption-md" style="margin-top: 14px;">
            <i class="glyphicon glyphicon-tag"></i>
            <span class="caption-subject  bold uppercase">Cases Sold Report ({{priorstatus}})</span>
        </div>
        <div class="btn-group" style="margin-left: 20px; margin-top: 6px;">

            <!--<button class="btn btn-sm-new btn-circle btn-search" ng-csv="getCsvData()" csv-header="getCsvHeader()" filename="{{casessoldcsv}}" data-ng-disabled="salesReport.length==0">
                <i class="fa fa-file-excel-o"></i>
                Excel (csv)
            </button>
            <button style="float:right" class="btn btn-sm-new btn-circle btn-search"  >
              Create
            </button>-->
            <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                <i class="fa fa-file-excel-o"></i>
                Excel (csv)
            </md-button>
            <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
                Create
            </md-button>
          
        </div>
            <reportfullscreen needexpand="true"></reportfullscreen>
      
    </div>


    <div class="portlet-body" data-st-table="Data" data-st-safe-src="DataMaster">

        <div class="row" style="padding:0 0 8px 0;">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xs-12" style="float:left; width:auto; padding-right:0; margin-bottom:10px; ">
                        <div class="view"> View </div>
                        <div class="view-input">
                            <select class="form-control" style="padding: 0px;" data-ng-model="pageSize">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div class="records">records</div>
                    </div>

                    <div class="col-xs-12" style="float:left; width:auto; margin-bottom:10px;">

                    </div>


                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align:right;">
                <input class="form-control" placeholder="Search ..." type="text" ng-model="gridSearchText" data-st-search data-st-functions="stInterface" />
            </div>
            <button style="display:none" type="button" st-reset-search table-functions="myTableFunctions"></button>

        </div>

        <div style="overflow: auto;">
            <table id="tblReport" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="reportheader">
                        <th data-st-sort="categoryid" style="text-align: left !important;min-width:165px">category</th>
                        <th data-st-sort="category" style="text-align: left !important;min-width:165px"><div class="th-head">Category</div></th>
                        <th data-st-sort="deActive"  st-sort-default="reverse" style="text-align: left !important;min-width:174px"><div class="th-head">IsdeActive</div></th>
                        
                    </tr>
                </thead>
                <tbody ng-repeat="(key, value) in (Data|groupBy:groupProperty )">
                    <tr ng-if="key !== 'undefined'" style="cursor: pointer; background-color:#eee;">

                        <td colspan="6" class="text-left text-uppercase" ng-click="value[0].Extended = !value[0].Extended">
                            <span class="glyphicon" data-ng-class="value[0].extended?'glyphicon-minus-sign':'glyphicon-plus-sign'"></span>
                            <strong>
                                &nbsp;&nbsp;
                                <span ng-if="key == 'null'">  </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') >= 0"> {{key| date : 'yyyy-MM-dd'}} </span>
                                <span ng-if="key != 'null' && groupProperty.toUpperCase().indexOf('DATE') < 0"> {{key}} </span>
                            </strong>
                        </td>
                    </tr>
                    <tr ng-repeat="shipment in value" style="text-align:center;" ng-if="value[0].Extended||key === 'undefined'">

                        <td style="text-align:left">{{shipment.categoryid}}</td>
                        <td style="text-align:right">{{shipment.category}}</td>
                        <td style="text-align:right">{{shipment.deActive}}</td>
                       
                    </tr>
                  
                </tbody>
                <tbody ng-if="Data.length == 0">
                    <tr>
                        <td nodatafound style="text-align:center;vertical-align:middle;">No data found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-st-pagination=""
                     data-st-items-by-page="pageSize"
                     data-st-template="../../../assets/global/plugins/smart-table/_TablePagination.html"
                     style="text-align: right;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
   

</div>

<toaster-container></toaster-container>
<style>
   
    .th-head {
        min-width: 80px;
    }

    .th-head-two {
        min-width: 125px;
    }

    .th-head-three {
        min-width: 180px;
    }
    /*for solving the issue x-axis scroll in select2*/
    .select2-choices {
        overflow-x: hidden !important;
    }

    .btn-group {
        margin-bottom: 15px;
    }
</style>

